<style>
h2 {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}
.form {
    margin: auto;
    max-width: 400px;
    width: 100%;
    min-height: 180px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}
.form__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input {
    width: 70%;
}
.form__btn {
    border: 2px solid black;
    padding: 10px 15px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
}
.form__btn:hover {
    transition: .3s;
    background-color: black;
    color: white;
}
.after-form {
    text-align: center;
    margin-top: 50px;
}
</style>

<h2>Войти</h2>
<form method="POST" class="form">
    {% csrf_token %}
    <div class="form__item" class="form__item"><label for="">Логин </label><input type="text" name="username" placeholder="Логин"></div>
    <div class="form__item" class="form__item"><label for="">Пароль </label><input type="password" name="password" placeholder="Пароль"></div>
    <button type="submit" class="form__btn">Войти</button>
</form>
{% for message in messages %}
    <p id="messages">{{ message }}</p>
{% endfor %}
<div class="after-form">
    Нет аккаунта? <a href="{% url 'delivery:register' %}">Зарегистрируйтесь</a>
</div>
